<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>Copyright &copy; Horizonte TI 2016</p>
        <p>Made with ❤ in Lima, hosted by <a href="https://github.com/horizonteti/horizonteti.github.io">Github</a></p>
        <p>Icons made by <a href="http://www.flaticon.com/authors/sebastien-gabriel" title="Sebastien Gabriel">Sebastien Gabriel</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
