<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="java,oracle,php,python,sistemas,inventarios,hoteles,informacion,data,basesdedatos">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="Horizonte TI">

    <title>{% if page.title %}{{ page.title }} | Horizonte TI {% else %}Horizonte TI | The software company {% endif %}</title>

    <!--link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--link href="/resources/css/font-awesome.min.css" rel="stylesheet" /-->
    <link href="/resources/css/main.css" rel="stylesheet" />
    <link href="/resources/css/blog.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
