/*.blog-content img {
  display: block;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}*/
.blog-header, .post-index {
  margin-top: 80px;
}

.blog-content iframe {
  margin: 60px auto;
  display: block;
}

/*@media (max-width: 750px) {
  .blog-content img {
    max-width: 100%;
  }
}*/
